{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-es2015",
    "@babel/preset-stage-3",
    "@babel/preset-stage-0"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-class-properties"
  ]
}